/* ? CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ? Containers Styling */

html {
    --primary-color: #CCC61D;
    --darkened-primary-color: #AAA40B;
    --secondary-color: #080936;
    --dark-color: #303030;
    --light-color: #CFCFCF;
    --darkened-light-color: #AEAEAE;
    --tile-border-radius: 12.5px;
    --fill-unit: 8px;
    font-size: 12px;
    color: var(--dark-color, black);
    scroll-behavior: smooth;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

#webpage {
    font-family: 'Bitter', serif;
    background-color: var(--secondary-color, darkblue);
}

/* ? Header Styling */

.header {
    background: var(--primary-color, yellow);
    border: 2.5px solid var(--light-color, white);
    border-radius: var(--tile-border-radius, 12.5px);
    padding: 24px 0 16px 0;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bicycle {
    font-size: 2.75rem;
    margin: 0 8px;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
}

.come-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=1);
}

/* ? Landing Page Styling */

.landing-page {
    display: flex;
    border-radius: var(--tile-border-radius, 12.5px);
    background-color: var(--primary-color, yellow);
    padding: 24px;
    margin: 96px 0 16px 0;
}

.text-container {
    border: 2.5px solid transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.landing-page-item {
    margin: 12px 0;
}

.headline {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    color: var(--dark-color, black);
}

.description {
    font-size: 1.75rem;
    line-height: 175%;
    color: var(--dark-color, black);
    text-align: justify;
}

.test-your-knowledge,
#take-the-test {
    background: var(--dark-color, black);
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    border-radius: var(--tile-border-radius, 12.5px);
    transition: .5s all ease;
    user-select: none;
    border: 5px solid transparent;
    padding: 2px 8px;
    font-size: 2.25rem;
    line-height: 125%;
    font-family: 'Bitter', sans-serif;
    color: var(--light-color, white);
}

#take-the-test {
    padding: 8px 16px;
}

.hidden-button {
    border: none;
    background-color: var(--primary-color, yellow);
}

#scroll-down {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--light-color, white);
}

.image-container {
    display: grid;
    place-items: center;
}

.bike-vector {
    height: auto;
    width: 300px;
    border-radius: var(--tile-border-radius, 12.5px);
    pointer-events: none;
    font-family: 'Bitter', serif;
    color: var(--dark-color, black);
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 16px;
    border-radius: var(--tile-border-radius, 12.5px);
}

.social-media-icon {
    text-align: center;
}

.toggle-menu {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 16px;
    border-radius: var(--tile-border-radius, 12.5px);
    transition: .5s all ease;
    box-shadow: 2.5px 2.5px 0 rgba(48, 48, 48, .75);
    font-size: 1.75rem;
    border: 2.5px solid transparent;
}

.fab {
    opacity: 0;
    border: 5px solid transparent;
    border-radius: 50%;
    padding: 8px;
    font-size: 2rem;
    border: 2.5px solid transparent;
    margin: 4px 0;
}

/* ? Form Styling */

.form {
    background-color: var(--primary-color, yellow);
    border-radius: var(--tile-border-radius, 12.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 16px;
    padding-bottom: 24px;
}

.smaller-headline {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: .25rem;
    user-select: none;
    padding: 24px;
    border: 2.5px solid transparent;
}

.smaller-headline:hover {
    cursor: help;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.first-input,
.second-input {
    margin: 4px 0;
}

.input {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.25rem;
}

#email-input,
#name-input {
    border: 2.5px solid var(--dark-color, black);
    background-color: var(--light-color, white);
    border-radius: calc(var(--tile-border-radius, 12.5px) * 1.5);
    padding: 0.75rem 8px;
    font-family: 'Bitter', serif;
    transition: .5s all ease;
}

.question-tile {
    background-color: var(--primary-color);
    border-radius: var(--tile-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.question-header {
    font-size: 2.25rem;
    font-weight: 600;
    padding: 24px;
    text-align: center;
    border: 2.5px solid transparent;
}

.question-content {
    display: flex;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answer-label {
    font-size: 1.75rem;
    padding: 12px 24px 12px 12px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-radius: var(--tile-border-radius);
    background-color: var(--darkened-primary-color, gold);
    transition: .5s all ease;
    border: 2.5px solid transparent;
}

.answer-label:hover {
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    border: 2.5px solid var(--dark-color, darkgrey);
    cursor: pointer;
}

.radio-button {
    opacity: 0;
}

.question-number {
    font-family: 'Lakki Reddy', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
    border-radius: 50%;
    margin-top: 5rem;
    overflow: hidden;
    user-select: none;
}

/* ? Accessibility Styling */

.header:focus-visible,
.header:hover,
.text-container:focus-visible,
.image-container:focus-visible {
    background-color: var(--darkened-primary-color, gold);
    outline: none !important;
    border-radius: var(--tile-border-radius, 12.5px);
    border: 2.5px solid var(--secondary-color, darkblue);
}

.test-your-knowledge:hover,
.test-your-knowledge:focus-visible,
#take-the-test:hover,
#take-the-test:focus-visible {
    box-shadow: 7.5px 7.5px 0 rgba(48, 48, 48, .75);
    cursor: pointer;
    outline: none;
    border: 5px solid var(--light-color, white);
}

.test-your-knowledge:active,
#take-the-test:active {
    background-color: #000000;
}

.toggle-menu:hover,
.toggle-menu:focus-visible {
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    cursor: pointer;
    outline: none;
    border: 2.5px solid var(--secondary-color, darkblue);
}

.fab:focus-visible {
    background-color: var(--darkened-primary-color, gold);
    outline: none !important;
    border-radius: var(--tile-border-radius, 12.5px);
    border: 2.5px solid var(--secondary-color, darkblue);
}

.smaller-headline:focus-visible, .question-header:focus-visible {
    background-color: var(--darkened-primary-color, gold);
    outline: none !important;
    border-radius: var(--tile-border-radius, 12.5px);
    border: 2.5px solid var(--secondary-color, darkblue);
}

#email-input:hover,
#name-input:hover {
    background-color: var(--darkened-light-color, gray);
}

#email-input:focus,
#name-input:focus {
    outline: none !important;
    box-shadow: 0 0 0 2.5px var(--darkened-primary-color, gold);
}

.fab:hover {
    border: 2.5px solid var(--darkened-primary-color, gold);
    background-color: var(--darkened-primary-color, gold);
    color: var(--dark-color);
}

.answer-1:focus-visible, 
.answer-2:focus-visible,
.answer-3:focus-visible,
.answer-4:focus-visible,
.answer-5:focus-visible,
.answer-6:focus-visible,
.answer-7:focus-visible,
.answer-8:focus-visible,
.answer-9:focus-visible,
.answer-10:focus-visible {
    outline: none;
}

/* ? Additional Styling */

.link {
    color: inherit;
}

/* ? Media Queries */

@media(max-width: 1199px) {
    .social-media {
        display: none;
    }
}

@media(max-width: 768px) {
    .landing-page {
        flex-direction: column !important;
    }

    .text-container {
        margin-bottom: 36px;
    }

    .question-number {
        display: none;
    }
}

@media(max-width: 575px) {
    html {
        font-size: 10px;
    }
}

@media(max-width: 390px) {
    html {
        font-size: 9px;
    }
}

@media(max-width: 350px) {
    html {
        font-size: 8px;
    }

    .bike-vector {
        width: 250px;
    }

    .landing-page {
        margin-top: 84px;
    }
}
