* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

html {
    --primary-color: #CCC61D;
    --darkened-primary-color: #AAA40B;
    --secondary-color: #080936;
    --dark-color: #303030;
    --light-color: #CFCFCF;
    --tile-border-radius: 12.5px;

    font-size: 12px;
    font-family: 'Bitter', serif;
    color: var(--dark-color);

    background-color: var(--secondary-color);
}

.container {
    width: 97.5vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.header {
    background: var(--primary-color);
    border: 2.5px solid var(--light-color);
    border-radius: var(--tile-border-radius);
    padding: 16px 0;
    margin-bottom: 20px;
    user-select: none;
    position: fixed;
    top: 0;
    width: 97.5vw;

    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header:focus-visible,
.text-container:focus-visible,
.image-container:focus-visible {
    background-color: var(--darkened-primary-color);
    outline: none !important;
    border-radius: var(--tile-border-radius);
    border: 2.5px solid var(--secondary-color);
}

.fa-bicycle {
    font-size: 2.75rem;

    margin: 0 10px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.landing-page {
    display: flex;

    border-radius: var(--tile-border-radius);
    background-color: var(--primary-color);
    padding: 24px;
    margin: 90px 0 20px 0;
}

.text-container {
    width: calc(97.5vw / 2);
    border: 2.5px solid transparent;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headline {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    color: var(--dark-color);

    margin-top: 20px;
}

.description {
    font-size: 1.75rem;
    line-height: 175%;
    color: var(--dark-color);

    margin: 20px 40px 10px 40px;
}

.test-your-knowledge,
.take-the-test {
    background: var(--dark-color);
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    border-radius: var(--tile-border-radius);
    padding: 8px 16px;
    transition: .5s all ease;
    user-select: none;
    border: 5px solid transparent;
    margin: 10px 15% 20px 15%;
    width: 70%;

    font-size: 2.25rem;
    line-height: 125%;
    font-family: 'Bitter', sans-serif;
    color: var(--light-color);
}

.take-the-test {
    width: 20vw;
}

.test-your-knowledge:hover,
.test-your-knowledge:focus-visible,
.take-the-test:hover,
.take-the-test:focus-visible {
    box-shadow: 7.5px 7.5px 0 rgba(48, 48, 48, .75);
    cursor: pointer;
    outline: none;
    border: 5px solid var(--light-color);
}

.image-container {
    width: calc(97.5vw / 2);

    display: grid;
    place-items: center;
}

.bike-vector {
    height: auto;
    width: 400px;
    border-radius: var(--tile-border-radius);
    pointer-events: none;

    font-family: 'Bitter', serif;
    color: var(--dark-color);
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: column;

    height: min-content;
    padding: 16px;
    border-radius: var(--tile-border-radius);
}

.social-media-icon {
    text-align: center;
}

.toggle-menu {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 20px;
    border-radius: var(--tile-border-radius);
    border: 2.5px solid transparent;
    transition: .5s all ease;
    box-shadow: 2.5px 2.5px 0 rgba(48, 48, 48, .75);

    font-size: 1.75rem;
}

.toggle-menu:hover,
.toggle-menu:focus-visible {
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    cursor: pointer;
    outline: none;
    border: 2.5px solid var(--secondary-color);
}

.fab {
    margin: 15px 0;
    opacity: 0;
    border: 5px solid transparent;
    border-radius: 50%;
    padding: 5px;

    font-size: 2rem;
}

.fab:hover {
    border: 5px solid var(--darkened-primary-color);
    background-color: var(--darkened-primary-color);
}

.form {
    background-color: var(--primary-color);
    border-radius: var(--tile-border-radius);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.form::before,
.form::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 7.5vw;
}

.form::before {
    left: -7.5vw;
    top: 5%;
}

.form::after {
    right: -7.5vw;
    bottom: 5%;
}

.smaller-headline {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    text-align: center;

    padding: 25px 0;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.first-input,
.second-input {
    margin: 5px 0;
}

.input {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: center;
}

#email-input,
#name-input {
    border: 2.5px solid var(--dark-color);
    background-color: var(--light-color);
    border-radius: calc(var(--tile-border-radius) * 1.5);
    padding: 0.75rem 10px;
    font-family: 'Bitter', serif;
}

/* $ This file needs to be reorganized and the code needs to become accessible. */
