* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #CCC61D;
    --secondary-color: #080936;
    --dark-color: #303030;
    --light-color: #CFCFCF;
    --tile-border-radius: 12.5px;

    font-size: 12px;
    font-family: 'Bitter', serif;
    color: var(--dark-color);

    background-color: var(--secondary-color);
}

.container {
    width: 97.5vw;
    margin: 0 auto;
}

.header {
    background: var(--primary-color);
    border: 5px solid var(--light-color);
    border-radius: var(--tile-border-radius);
    padding: 16px 0;
    margin-bottom: 20px;

    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    /* ! Header needs it's position to be fixed and text unselectable. */
}

.fa-bicycle {
    font-size: 2.75rem;

    margin: 0 10px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.landing-page {
    display: flex;

    border-radius: var(--tile-border-radius);
    background-color: var(--primary-color);
    padding: 24px;
}

.text-container {
    width: calc(97.5vw / 2);

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headline {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    color: var(--dark-color);

    margin-top: 20px;
}

.description {
    font-size: 1.75rem;
    line-height: 175%;
    color: var(--dark-color);

    margin: 20px 40px 10px 40px;
}

.test-your-knowledge {
    background: var(--dark-color);
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    border-radius: var(--tile-border-radius);
    border: 2.5px dashed transparent;
    padding: 8px 16px;
    transition: .5s all ease;
    user-select: none;

    margin: 10px 25% 20px 25%;
    width: 50%;
    /* ? Thanks to these clumsy lines the button is centered. */

    font-size: 2.25rem;
    line-height: 125%;
    font-family: 'Bitter', sans-serif;
    color: var(--light-color);
}

.test-your-knowledge:hover {
    border: 2.5px dashed var(--light-color); 
    cursor: pointer;
}

.test-your-knowledge:active {
    background-color: var(--secondary-color);
}

.image-container {
    width: calc(97.5vw / 2);

    display: grid;
    place-items: center;

    /* ! This image should be located closer to the left. */
}

.reading-doodle {
    width: 280px;
    height: auto;
    
    /* ! Alternative text is needed to be inserted. */
}

.social-media {
    display: flex;
    flex-direction: column;

    height: min-content;
    padding: 16px;
    border-radius: var(--tile-border-radius);
}

.social-media-icon {
    display: block;

    text-align: center;
}

.toggle-menu {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 20px;
    border-radius: var(--tile-border-radius);
    border: none;
    transition: .5s all ease;
    
    font-size: 1.75rem;

    /* ! This button needs JavaScript to help showing and hiding the icons. */
}

.toggle-menu:hover {
    box-shadow: 5px 5px 0 rgba(48, 48, 48, .75);
    cursor: pointer;

    /* ! This button needs it's animation to be redesigned and an active status added. */
}

.fab {
    margin: 15px 0;

    font-size: 2rem;
}
